

.hidden{
    display: none;
}

body{
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Nanum Gothic Coding', monospace;
    /* position: relative; */
}

#clock{
    text-align: center;
    font-size: xxx-large;
    font-weight: bolder;
}

#center{
    height: 900px;
    position: relative;
}

#login-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

#greeting{
    display: flex;
    justify-content: center;
    align-items: center;
}

#todo-form{
    margin-left: 300px;
}

#todo-list{
    margin-left: 265px;
    width: 300px;
    height: 400px;
    overflow: auto;
    /* box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.295);
    background-color: rgba(5, 155, 17, 0.4); */
}

/* 한줄에 다 보이긴 함*/
/* #todo-list li{
    display: flex;
} */

#todo-list li span {
    display: block;
    width: 280px;
    line-height: 150%;
}

td{
    width: 50px;
    height: 60px;
    text-align: center;
    border: 2px solid #000;
    border-radius : 8px;
}
#calender-yearmonth{
    font-size: larger;
    width: 250px;
}